@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
  scroll-behavior: smooth;
}


:root {
  --man-utd-red: #DA291C;
  --man-utd-yellow: #FBE122;
  --man-utd-black: #000000;
  --man-utd-white: #FFFFFF;
  --man-utd-dark-red: #A50024;
  --man-utd-gray: #5B5B5B;
  --man-utd-gold: #D4AF37;
  --man-utd-navy: #002663;
  --man-utd-background: #242424;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--man-utd-dark-red);
  padding: 15px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; /* Space between the logo and the text */
}

.logo h1 {
  color: var(--man-utd-white); 
  font-size: 24px;
  margin: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: var(--man-utd-white); /* White for links */
  font-size: 18px;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: var(--man-utd-yellow); /* Yellow on hover */
}


/* Hero*/

.hero {
  position: relative;
  height: 100vh;
  background-image: url('/hero.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--man-utd-white);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 30px;
  margin-top: 150px;
}

.hero-title {
  font-size: 100px;
  margin: 0;
  color: var(--man-utd-white);
}

.hero-subtitle {
  font-size: 24px;
  margin-top: 10px;
  color: var(--man-utd-white);
}

.hero-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--man-utd-yellow); /* Manchester United red */
  color: var(--man-utd-navy);
  text-decoration: none;
  font-size: 18px;
  border-radius: 60px;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: var(--man-utd-gold); /* Darker red for hover */
}


h1, h2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}

h3,h4 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}

p,a,b,i {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/* Squad*/
.squad-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two equal-width columns */
  gap: 20px; /* Space between columns */
  padding: 20px;
  color: white; /* Default text color */
  background-color: var(--man-utd-background);
}

.squad-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.squad-list li {
  margin: 10px 0;
}

.squad-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: adds rounded corners to the image */
}


/* legends-Gallery*/
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* space between images */
  padding: 20px;
  background-color: var(--man-utd-background);
}

.Legend {
  width: 100%; 
  height: auto;
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  height: auto;
  background-color: var(--man-utd-background);
}

.legend-container {
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin: 15px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

.legend-container:hover .Legend {
  transform: scale(1.1); /* Zooms in by 10% */
}



/* Fixture Section */
/* Fixture Section */
.fixtures-container {
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
  background-color: var(--man-utd-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.fixtures-container h1 {
  color: var(--man-utd-red);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
}
#fixtures img {
  width: 100px;
  height: 36px;
  border-radius: 8px;
}
/* Buttons */
.fixtures-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-radius: 60px;
}

.fixtures-buttons button {
  background-color: var(--man-utd-red);
  color: var(--man-utd-white);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border-radius: 60px;
  transition: background-color 0.3s ease;
}

.fixtures-buttons button:hover {
  background-color: var(--man-utd-dark-red);
}

.fixtures-buttons button:active {
  background-color: var(--man-utd-gray);
}

/* Fixture Grid */
.fixtures-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding: 20px;
}

.fixtures-grid-item {
  background: var(--man-utd-white);
  color: var(--man-utd-black);
  border: 1px solid var(--man-utd-gray);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s ease;
}

.fixtures-grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #37003c, #da291c, #fbe122);
}

/* Fixture Details */
.fixtures-grid-item strong {
  color: var(--man-utd-red);
  font-size: 18px;
  font-family: "Bebas Neue", sans-serif;
}

.fixtures-grid-item p {
  margin: 5px 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: var(--man-utd-navy);
}
/* Add text color transition for better effect */
.fixtures-grid-item:hover strong,
.fixtures-grid-item:hover p {
  color: var(--man-utd-white);

}

/* Score Box */
.fixtures-score {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  border: 2px solid var(--man-utd-red); /* Border color matches the theme */
  border-radius: 5px;
  background-color: var(--man-utd-white); /* Background color */
  color: var(--man-utd-black); /* Text color */
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* Error Message */
.error-message {
  color: var(--man-utd-yellow);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}



/* Footer*/
.footer {
  background-color: var(--man-utd-dark-red); 
  color: var(--man-utd-white); 
  padding: 20px 0;
  text-align: center;
}

.pl-image {
  width: 80px;
  height: auto;
  margin: 0 auto;
}

.footer-image {
  width: 80px;
  height: auto;
  margin: 0 auto;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h2, .footer-section h3 {
  color: var(--man-utd-yellow);
}

.footer-section p {
  color: var(--man-utd-white); 
  text-align: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: var(--man-utd-yellow);
  text-decoration: none;
  text-align: center;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--man-utd-gold); /* Red on hover */
}

.footer-section a {
  color: #FBE122; /* Yellow for social links */
  text-decoration: none;
  text-align: center;
  margin-right: 10px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: var(--man-utd-gold); /* Red on hover */
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid --man-utd-gray;
  color: var(--man-utd-white);
}


/* Responsive design */
/* Mobile Optimization */

/* Adjust the header */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav ul {
    flex-direction: column;
    padding: 10px 0;
  }

  .nav ul li {
    margin: 10px 0;
  }
}

/* Hero Section Adjustments */
@media (max-width: 768px) {
  .hero {
    height: 60vh; /* Adjust hero height for smaller screens */
    background-position: center;
  }

  .hero-title {
    font-size: 36px; /* Reduce font size for title */
  }

  .hero-subtitle {
    font-size: 18px; /* Adjust subtitle font size */
  }

  .hero-button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

/* Squad Section Adjustments */
@media (max-width: 768px) {
  .squad-container {
    grid-template-columns: 1fr; /* Stack items in one column */
    text-align: center;
    padding: 10px;
  }

  .squad-image {
    width: 80%;
    margin: 0 auto;
  }
}

/* Gallery Grid Adjustments */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr; /* Change to one column for smaller screens */
    gap: 15px;
    padding: 10px;
  }
}

/* Footer Adjustments */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    padding: 10px 0;
  }
}
